# =====================================
# Android / Kotlin / Gradle
# =====================================

# Gradle
.gradle/
**/build/
!src/**/build/
gradle-wrapper.jar
gradle-wrapper.properties
gradle.properties       # Evita subir este archivo
local.properties        # Evita subir rutas locales del SDK

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
*.hprof

# APK / AAB
*.apk
*.ap_
*.aab
*.dex

# Keystore
*.jks
*.keystore
.signing/

# Google Services
google-services.json

# Logs
*.log
hs_err_pid*
replay_pid*

# Compiled class files
*.class

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse / IntelliJ legacy
.project
.classpath
.cproject
.settings/
*.iws
.idea_modules/

# Optional: editor backup files
*~
*.swp
