name: Publish Build Logic

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Determine version
        id: get_version
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          REPO="rndevelo/build-logic"
          PACKAGE_NAME="buildlogic"   # nombre de tu paquete en GitHub Packages

          # Obtener todas las versiones publicadas en GitHub Packages
          VERSIONS=$(gh api repos/$REPO/packages/maven/$PACKAGE_NAME/versions --jq '.[].metadata.version')

          if [ -z "$VERSIONS" ]; then
            NEXT_VERSION="1.0.0"
          else
            MAX=$(echo "$VERSIONS" | sort -V | tail -n 1)
            IFS='.' read -r MAJOR MINOR PATCH <<< "$MAX"

            PATCH=$((PATCH+1))
            if [ $PATCH -ge 10 ]; then
              PATCH=0
              MINOR=$((MINOR+1))
            fi
            NEXT_VERSION="${MAJOR}.${MINOR}.${PATCH}"
          fi

          echo "version=$NEXT_VERSION" >> $GITHUB_OUTPUT
          echo "Next version: $NEXT_VERSION"
      

      - name: Publish to GitHub Packages
        env:
          GPR_USER: ${{ secrets.GPR_USER }}
          GPR_KEY:  ${{ secrets.GPR_KEY }}
        run: ./gradlew publish -Pversion=${{ steps.get_version.outputs.version }} --no-daemon --stacktrace
